
*/__pycache__/*
LESO/
.vscode

Common/*.css
Common/*.html
Common/palettes/*
Common/test.txt

Orfact/images/*.png
Orfact/palettes/*.png
Orfact/*.html
Orfact/*.log

Recettes/*.html
Recettes/*.log
Recettes/last-upload
Recettes/recs.json

Quidditch.py
amandes.py

Fractals/images/*

Qombo/images/*
Qombo/saves/*
Qombo/test/*
Qombo/*.html
Qombo/*.css

SynthValues/*.csv
SynthValues/*.pdf
