Common/*.css
Common/*.html
Common/palettes/*

Orfact/images/*.png
Orfact/palettes/*.png
Orfact/*.html
Orfact/*.log
*/__pycache__/*

Recettes/*.html
Recettes/*.log
Recettes/last-upload
Recettes/recs.json

Quidditch.py
LESO/
.vscode
amandes.py

Fractals/images/*
Qombo/images/*
Qombo/saves/*
Qombo/test/*
Qombo/*.html
Qombo/*.css
